body {
	background: #232323;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1{
	display: block;
	font-weight: bold;
	font-size: 3rem;
}

.dark{
	background: transparent;
	color:white;
}

.light{
	background: white;
}

.btn-gold {
    color: #232323 !important;
    background: #f2c40f !important;
    border-color: #917609 !important;
    -moz-box-shadow: inset 0 -4px 0 0 #917609;
    -webkit-box-shadow: inset 0 -4px 0 0 #917609;
    box-shadow: inset 0 -4px 0 0 #917609;
}