body {
	background: #232323;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1{
	display: block;
	font-weight: bold;
	font-size: 3rem;
}

.dark{
	background: transparent;
	color:white;
}

.light{
	background: white;
}